*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top{
    background-color: aliceblue;
    /* border: 1px solid black; */
    height: 10em;
    text-align: center;
    padding: 2em;
    box-shadow: 0px 2px 2px;
}

h1{
    color: orange;
    font-size: 400%;
}

.top p{
    font-size: 150%;
    color:rgb(175, 117, 75);
}

.middle{
    /* border :1px solid black; */
    height: 8em;
    text-align: center;
    padding: 2%;
}

.middle p{
    /* font-size: 1.em; */
    margin-top: 1%;
    
}

.btn{
    height: 4em;
    width: 8em;
    border-radius: 10px;
    margin-left: 1em;
    background-color: orange;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    transform: scale(1.05);
    box-shadow: 0px 2px 2px 0px;
}

.container{
    border-top: 2px solid black;
    height: 23rem;
    display: flex;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px 2px;
    /* padding: 1rem; */
}

.data1{
    height: 100%;
    /* border: 1px solid red; */
    width: 25%;
    display: grid;
    text-align: right;
    padding-right: 5rem;
    padding-top: 1rem;
    
}

.data1::before{
    content: "Country";
    text-decoration: underline;
}

.country{
    /* border :1px solid black; */
    margin-top: 3px;
}

.data2{
    height: 100%;
    /* border: 1px solid red; */
    width: 50%;
    display: grid;
     text-align: center; /*watchout this line */
    padding-right: 5rem;
    /* padding-top: 1rem; */
    
}

.data2::before{
    content: "graph";
    text-decoration: underline;
}

.data3{
    height: 100%;
    /* border: 1px solid red; */
    width: 25%;
    display: grid;
    text-align: left;
    padding-right: 5rem;
    padding-top: 1rem;
    

}

.data3::before{
    content: "Stats";
    text-decoration: underline;
}



.fillin{
    background-color: orange;
}